@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap");

body {
  font-family: "Roboto Slab", serif;
  color: #4b0082;
}

.bgImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  animation-name: fadein;
  animation-duration: 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.clock {
  position: absolute;
  /* top: calc(50% - 40px);
  left: calc(50% - 150px); */
  top: 10px;
  right: 365px;
}
.clock__title {
  width: 315px;
  height: 80px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 84px;
  padding: 10px;
}
.clock__date {
  width: 160px;
  height: 32px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 32px;
  padding: 10px;
  margin: 10px 0 0 154px;
}
.hide {
  display: none;
}
.show {
  display: inline=block;
}
.btn {
  padding: 10px;
}
.weather__container {
  width: 300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 15px;
}
.weather__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}
.input {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-style: italic;
  color: #4b0082;
  border-bottom: 3px solid #000;
  text-align: center;
  cursor: pointer;
}
.input:focus,
.input:active {
  background-color: transparent;
  outline: none;
  color: #4b0082;
}
.input::placeholder {
  transition: 0.5s;
  color: #4b0082;
}
.inputWeather {
  width: 100%;
}
.btn {
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  color: #4b0082;
}
.btn:hover {
  transform: scale(0.99);
}
.btn:active {
  transform: scale(0.96);
}
.displayWeather {
  /* border: 2px solid red;
    border-radius: 15px; */
  height: 150px;
  display: grid;
}
.displayWeather__place {
  font-size: 36px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  padding: 20px 20px 0;
}
.displayWeather__temp {
  font-size: 36px;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  padding: 5px;
}
.displayWeather__desc {
  font-size: 18px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding: 5px 20px;
}
.displayWeather__wind {
  font-size: 18px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 5px 20px;
}
